<link rel="stylesheet" href="~/css/Services/css/Services.css">

        <div class="container">
          <div class="container p_text" id="body_grid">
            <div class="row row-cols-2">
              <div class="col" id="grid">
                <img src="~/css/Services/img/longTermCare.png" alt="" id="services_img1">
              </div>
            <div class="col _description" id="home_care">
                <h2>居家照護</h2>
                <p>身體照顧：包含基本身體清潔、基本日常照顧、測量生命徵象、協助灌食或餵食、協助沐浴或洗頭、翻身拍背、肢體關節活動、協助執行輔助性醫療...等。</p>
                <p>家務及日常生活照顧：包含餐食照顧、陪同就醫、家務協助、代購或代領或代送服務、安全看視、陪伴服務、巡視服務…等。</p>
              </div>
              <div class="col _description" id="respite_care">
                <h2>喘息服務</h2>
                <p>是否有不得已需要外出而無法照顧長輩的時刻呢？別擔心，我們也有提供居家喘息服務。服務時間以2小時為一個給付單位，單日以10小時為上限，提供身體照顧等服務。</p>
              </div>
              <div class="col" id="grid">
                <img src="~/css/Services/img/respiteService.png" alt="" id="services_img2">
              </div>
              <div class="col" id="grid" >
                <img src="~/css/Services/img/healthSupplement.jpg" alt="" id="services_img3">
              </div>
            <div class="col _description" id="health_supplements">
                <h2>保健品服務</h2>
                <p>馨安在照顧家中長輩的同時，也關注著他們身體狀態，藉由我們精選的保健品，守護全家人的健康。藉由簡易填寫表單，就能依據個人狀況進行智能推薦，找出最符合您需求的保健品！</p>
              </div>
            </div>
          </div>
        


        </div>
        



