<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="~\css\Layout\css\bootstrap.css" rel="stylesheet" />

    <!-- 本頁 CSS -->
    <style>
        body {
            background-color: antiquewhite;
        }

        

        #subsidyIntro_text {
            font-size: 20px;
            margin-top: 1%;
        }

        .title_h2 {
            color: darkred;
        }

        #to_ul {
            color: rgb(35, 35, 238);
            font-weight: bold;
            font-size: 24px;
        }

        #_although {
            font-size: 22px;
        }

        ._judge, ._subsi {
            color: darkblue;
        }

        .judge_in, .subsi_item {
            font-size: 22px;
        }

        #_notice, #_four {
            color: red;
            font-size: 24px;
            font-weight: bold;
        }

        #_differ {
            font-size: 22px;
        }

        #_striing, #_addition {
            font-size: 22px;
        }

        #_group {
            font-size: 24px;
            font-weight: bold;
            color: rgb(35, 35, 238)
        }

        #addit_loc, #group_four {
            font-size: 22px;
        }

    </style>
    <title>長照2.0補助條件</title>
</head>
<body>
    <div class="container text-left" id="subsidyIntro_text">
        <h1 class="fw-bold lh-lg">長照補助條件有什麼資格限制？誰屬於長照 2.0 補助對象？</h1>
        <h2 class="fw-bold lh-lg title_h2">長照 2.0 補助對象</h2>
        <div id="to_ul">
            <ul>65 歲以上獨居老人、衰弱老人、失能老人</ul>
            <ul>55 歲以上失能原住民</ul>
            <ul>50 歲以上失智者</ul>
            <ul>不分年齡的身心障礙者（領有身心障礙證明或手冊）</ul>
            <ul>家庭照顧者、有外籍看護工家庭（喘息服務／短期照顧服務）</ul>
        </div>
        <p class="lh-base" id="_although">雖然符合以上條件的長照補助對象多為銀髮族，不過年輕人、中年青壯族群也可能因為意外或疾病等原因導致失能而需要長照服務，所以長照 2.0 也擴大長照補助條件對象，納入了 49 歲以下的身心障礙者、 50 歲以上的失智症患者、 55 歲以上平地原住民及 65 歲以上的衰弱者，讓所有可能需要長照服務的對象都能得到幫助。</p>

        <h2 class="fw-bold lh-lg title_h2" id="h3_4">判斷失能有哪些指標？</h2>
        <h4 class="fw-bold lh-lg _judge">1.日常生活活動功能（ADLs）</h4>
        <p class="lh-base judge_in">如進食、移位、室內走動、穿衣、洗澡、上廁所等。</p>
        <h4 class="fw-bold lh-lg _judge">2.工具性日常生活活動功能（IADLs）</h4>
        <p class="lh-base judge_in">如做家事、清洗、烹飪、購物、理財、室外行動等。</p>
        <h4 class="fw-bold lh-lg _judge">3.心智功能</h4>
        <p class="lh-base judge_in">長照 2.0 將失能程度由原本的輕、中、重度，更精細地區分為以下 8 等級，讓有長照需求的民眾申請給付時，可以依前兩項指標更明確判斷自身長照補助條件所能請領的給付金額：</p>
        <ul class="judge_in">
            <li>1 級失能：適用延緩失能失智計畫的失能老人</li>
            <li>2～3 級失能：相當於舊制的輕度失能（ 1～2 項 ADLs 失能者，以及僅 IADLs 失能且獨居老人）</li>
            <li>4～6 級失能：相當於舊制的中度失能（ 3 至 4 項 ADLs 失能者）</li>
            <li>7～8 級失能：相當於舊制的重度失能（ 5 項以上 ADLs 失能者）</li>
        </ul>

        <h2 class="fw-bold lh-lg title_h2" id="h2_3">長照機構補助額度多少？有哪些項目？</h2>
        <h3 class="fw-bold lh-lg" id="h3_5">4 大長照補助項目</h3>
        <p class="lh-base">長照補助主要項目分為 4 大項，依據失能等級及收入條件提供不同補助金額。</p>
        <h4 class="fw-bold lh-lg _subsi">長照補助項目 1：專業服務</h4>
        <ul class="subsi_item">
            <li>到府居家服務</li>
            <li>社區日間照顧</li>
            <li>到府復能服務</li>
            <li>護理之家（住宿式長照補助）</li>
        </ul>
        <h4 class="fw-bold lh-lg _subsi">長照補助項目 2：交通接送給付</h4>
        <ul class="subsi_item">
            <li>協助往返日照中心</li>
            <li>協助往返醫療院所就醫或復健</li>
        </ul>
        <h4 class="fw-bold lh-lg _subsi">長照補助項目 3：輔具服務與居家無障礙環境改善</h4>
        <ul class="subsi_item">
            <li>居家生活輔具購置或租賃</li>
            <li>居家無障礙設施改善</li>
        </ul>
        <h4 class="fw-bold lh-lg _subsi">長照補助項目 4：喘息服務</h4>
        <ul class="subsi_item">
            <li>社區日照喘息服務</li>
            <li>居家喘息服務</li>
            <li>住宿喘息服務</li>
        </ul>
        <p class="lh-base" id="_notice">※注意：長照住宿式機構使用者不能申請以上 4 類長照服務</p>

        <h2 class="fw-bold lh-lg title_h2" id="h3_6">長照補助金額一覽表</h2>
        <p class="lh-base" id="_differ">4 種項目的長照補助額度及不同身分的自付額比例如下表所示：</p>
        <table class="table table-bordered table-striped" style="table-layout: fixed; width: 100%;font-size: 22px;">
            <thead>
                <tr>
                    <th scope="col">服務項目</th>
                    <th scope="col">居家專業服務</th>
                    <th scope="col">交通接送服務</th>
                    <th scope="col">輔具及居家無障礙環境改善服務</th>
                    <th scope="col">喘息服務</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">補助標準</td>
                    <td>依失能等級</td>
                    <td>依失能等級與城鄉距離</td>
                    <td>無差別</td>
                    <td>依失能等級</td>
                </tr>
                <tr>
                    <td scope="row">長照補助金額</td>
                    <td>
                        <ul>
                            <li>1 級失能者不提供補助</li>
                            <li>2～8 級分別補助 10,020 元／月～ 36,180 元／月</li>
                        </ul>
                    </td>
                    <td>僅限 4 級以上失能者，依據交通里程給予 1,680元～2,400 元補助</td>
                    <td>每次最多補助 40,000 元</td>
                    <td>
                        <ul>
                            <li>2～6 級補助 32,340 元／年</li>
                            <li>7～8 級補助48,510元／年</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td scope="row">補助週期</td>
                    <td>每月</td>
                    <td>每月</td>
                    <td>每 3 年</td>
                    <td>每年</td>
                </tr>
                <tr>
                    <td scope="row">一般戶自行負擔比率</td>
                    <td>部分負擔 16％</td>
                    <td>部分負擔 21％～30％</td>
                    <td>部分負擔 30％</td>
                    <td>部分負擔 16％</td>
                </tr>
                <tr>
                    <td scope="row">中低收入戶自行負擔比率</td>
                    <td>部分負擔 5％</td>
                    <td>部分負擔 7％～10％</td>
                    <td>部分負擔 10％</td>
                    <td>部分負擔 5％</td>
                </tr>
                <tr>
                    <td scope="row">低收入戶自行負擔比率</td>
                    <td>全免</td>
                    <td>全免</td>
                    <td>全免</td>
                    <td>全免</td>
                </tr>
                <tr>
                    <td scope="row">聘外籍看護者</td>
                    <td>額度僅給付 30% ，且限使用專業服務、到宅沐浴車服務</td>
                    <td>可申請</td>
                    <td>可申請</td>
                    <td>
                        <ul>
                            <li>外籍看護工無法照顧持續 30 天以上者</li>
                            <li>被照顧者為失能等級 7～8 級者，即可申請喘息服務，不受 30 天之限制</li>
                            <li>長照個案屬 7～8 級者，且獨居（僅與外籍家庭看護工同住）</li>
                            <li>主要照顧者為 70 歲以上，即使外籍看護工短時間休假（未達 30 天）</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p class="lh-base" id="_striing">此外為了強化外籍家庭看護工休假的權益，勞動部與衛生福利部也合作推動「聘僱外籍看護工家庭短期替代照顧服務實施計畫」，聘有外籍家庭看護工者的長照需求者，只要經過地方照管中心評估符合相對的長照需要等級，除了目前喘息服務外，每年也可再申請短期照顧服務，詳細補助資訊如下：</p>
        <table class="table table-bordered" style="table-layout: fixed; width: 100%;background-color: white;">
            <thead>
                <tr class="table-danger">
                    <th scope="col">長照需要等級</th>
                    <th scope="col">給付額度</th>
                    <th scope="col">低收入戶（部分負擔 0％）</th>
                    <th scope="col">中低收入戶（部分負擔 5％）</th>
                    <th scope="col">一般戶（部分負擔 16％）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">2～6級</td>
                    <td>8,7780 元</td>
                    <td>0 元</td>
                    <td>4,389 元</td>
                    <td>14,045 元</td>
                </tr>
                <tr>
                    <td scope="row">7～8級</td>
                    <td>7,1610 元</td>
                    <td>0 元</td>
                    <td>3,581 元</td>
                    <td>11,458 元</td>
                </tr>
            </tbody>
        </table>
        <p class="lh-base" id="_addition">另外，為了減低許多中、重度失能者接受機構式服務的經濟負荷，衛生福利部在 112 年起將「住宿式服務機構使用者補助方案」的補助金額調增，入住符合指定的長照機構補助額度最高由 6 萬元提高至 12 萬元，並且取消排富規定。</p>
        <ul id="addit_loc">
            <li>一般護理之家</li>
            <li>精神護理之家</li>
            <li>老人福利機構：日照中心、日間照護中心（養老院不適用）</li>
            <li>身心障礙機構</li>
            <li>退輔會所屬的榮民之家（限自費失能或失智養護床）</li>
            <li>兒童及少年安置、教養機構</li>
            <li>住宿式服務類長期照顧服務機構</li>
        </ul>
        <p id="_group">適用族群：</p>
        <ul id="group_four">
            <li>地方政府照管中心長照評估等級 4 級以上</li>
            <li>身心障礙證明中度以上，當年度累計住滿 180 天者</li>
        </ul>
        <p class="lh-base" id="_four">衛福部長照 2.0 提供的 4 大項補助項目，又稱「長照四包錢」，若有長照機構補助相關疑問，可撥打 1966 長照補助專線洽詢。</p>
    </div>

</body>
</html>
