<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~\css\Layout\css\bootstrap.css" rel="stylesheet" />

    <!-- 本頁 CSS -->
    <style>
        body {
            background-color: antiquewhite;
        }

        

        #howToApply_text {
            margin-top: 1%;
        }

        
        #one_ol {
            font-size: 26px;
        }

        .one_h3 {
            color: darkred;
            font-weight: bold;
        }

            .one_h3 h3 {
                font-weight: bold;
            }

        #_recommend {
            color: red;
        }

        #_safe, #_item, #_contact {
            color: darkblue;
            font-weight: bold;
        }

        #_skill, #_service {
            font-size: 22px;
        }

        #service_item {
            font-size: 22px;
        }

        #sign_now {
            margin-bottom: 3%;
        }
        
        #row_in {
            display: flex;
            font-size: 26px;
            color: darkviolet;
            font-weight: bold;
        }

        a {
            color: darkviolet;
        }
    </style>
    <title>如何申請長照2.0</title>
</head>
<body>
    <div class="container text-left" id="howToApply_text">
        <h1 class="fw-bold lh-lg">長照補助申請流程</h1>
        <ol id="one_ol">
            <li class="one_h3">
                <h3>申請長照服務</h3>
            </li>
            <p>透過下列方式，都可以申請長照服務</p>
            <ul>
                <li>拿起電話直接撥打長照專線1966</li>
                <li>家人若即將出院且有長照需求，也能直接洽詢醫院護理站相關資訊</li>
                <li>聯絡當地長期照顧管理中心</li>
                <li>線上申請</li>
            </ul>
            <li class="one_h3">
                <h3>專業人員到府評估</h3>

            </li>
            <p>照管專員完成評估後，確認長期照顧需要等級及長期照顧服務給付額度</p>
            <li class="one_h3">
                <h3>照管師到宅訪視後共同安排、擬定照顧計畫</h3>
            </li>
            <p>與個案管理員討論需要的服務項目，擬定照顧計畫及連結服務</p>
            <li class="one_h3">
                <h3>接受長照服務</h3>
            </li>
            <p>由醫院或居服單位等提供服務機構，派員至民眾家中服務</p>
            <li class="one_h3"><h3>民眾支付費用給服務機構</h3></li>
        </ol>
        <br>
        <h2 class="fw-bold lh-lg" id="_recommend">台中市長照機構推薦：</h2><h3 id="_safe">馨安居家照護給您最暖心最安心的居家照顧服務</h3>
        <p class="lh-base" id="_skill">馨安居家擁有專業的照護技巧，服務台中地區民眾，廣受民眾的信賴與肯定，在台中市建立專業、溫馨與優質的居家照顧風評。</p>
        <h3 class="fw-bold lh-lg" id="_item">馨安居家照護長照 2.0 服務項目</h3>
        <p class="lh-base" id="_service">馨安居家照護配合政府長照 2.0，提供以下服務。</p>
        <ol id="service_item">
            <li>照顧服務：居家服務、日間照顧服務。</li>
            <li>喘息服務：居家喘息服務、日間照顧喘息服務。</li>
            <li>居家專業服務：由專業物理治療師、護理師、營養師、語言治療師到府家庭訪視，依長輩活動狀況、疾病、體型、體重等進行評估與擬定照顧計畫，再依照計畫進行復健服務、護理服務、營養知識衛教、並指導照顧者飲食配方與注意事項、制定長輩的進食吞嚥訓練，讓長輩能夠獲得人體所需的營養並維持身體機能等專業服務。</li>
            <li>輔具補助：連結輔具購買、租借及住宅無障礙環境改善。</li>
            <li>交通接送服務：中重度失能者因需長照服務的交通接送車資補助。</li>
            <li>預防／延緩失能：提供肌力強化運動、生活功能重建訓練、膳食營養、口腔保健、吞嚥訓練、認知促進等服務。</li>
        </ol>
        <h3 class="fw-bold lh-lg" id="_contact">聯絡方式</h3>
        <div id="row_in">
            <div id="sin_an">馨安居家照護</div><pre>     </pre>
            <div id="cont_det">電話：(04) 2326-5860</div><pre>     </pre>
            <div><a href="https://maps.app.goo.gl/Y9c1nqFoSqvvPYTv7">台中市南屯區公益路二段51號18樓</a></div>
        </div>
        <br>
        <a class="btn btn-success fs-2" role="button" id="sign_now">現在就註冊會員，由馨安居家照護為您提供協助</a>
    </div>
</body>

</html>
