
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~\css\Layout\css\bootstrap.css" rel="stylesheet" />


    <!-- 本頁 CSS -->
    <style>
        body {
            background-color: antiquewhite;
        }

        

        #subsidyConditions_text {
            margin-top: 1%;
        }

        p {
            color: black;
            font-weight: normal;
        }

        #h3_1, #h3_2 {
            color: red;
        }

        .2dot0list {
            line-height: 1.5 !important;
            font-size: 22px;
        }

        ._tit {
            color: #DDABA0;
            font-size: 24px;
        }

        ._pay {
            color: rgb(35, 35, 238);
            font-size: 24px;
        }

        .pay_detail {
            font-size: 22px;
        }

        .lh-lg {
            color: darkred;
        }
    </style>

    <title>長照2.0介紹</title>
</head>
<body>
    <div class="container text-left" id="subsidyConditions_text">
        <h1 class="fw-bold lh-lg" id="h2_1">申請長照補助前先認識長照 2.0</h1>
        <h2 class="fw-bold lh-lg" id="h3_1">什麼是長照？</h2>
        <p class="lh-base _tit">「長照」完整名稱為長期照顧，長期照顧定義指「針對長期或已經失去自理能力的病患，提供醫療與非醫療的服務」，提供服務的地點可能是家中、社區、護理之家或是長照中心。</p>
        <p class="lh-base _tit">雖然講到長照，大家第一直覺會想到的對象通常是年紀比較大的長輩，但其實各年齡層都可能有長照需求！</p>
        <p class="lh-base _tit">隨著老年人口比例的增長，扶養比上升，許多家庭都面臨極大的照顧壓力，長期照顧已經是不容小覷的社會議題，因此政府也提出因應政策，在 2017 年推出「長照 2.0」 ，提高長照服務的使用率。</p>
        <p class="lh-base _tit">不過，長照 2.0 內容涉及層面廣泛且內容繁多，許多人還是不清楚哪些服務屬於長照 2.0 的範圍，家中被照顧者的狀況又符合多少的長照補助額度，以下將為大家說明。</p>
        <h2 class="fw-bold lh-lg" id="h3_2">長照 2.0 服務項目</h2>
        <p class="lh-base _tit">長照 2.0 服務有 6 大項目，以下為大家列出各項所提供的重點服務內容：</p>


        <h4 class="fw-bold lh-lg">1.給付及支付</h4>
        <ul class="2dot0list">
            <li class="2dot0list">
                <p class="lh-base _pay">照顧及專業服務：</p>
                <ul class="2dot0list">
                    <li class="2dot0list">居家服務：照顧服務員到家中協助失能者。</li>
                    <li class="2dot0list">日間照顧：失能或失智長輩在白天時間就近至日間照顧中心接受服務。</li>
                    <li class="2dot0list">小規模多機能服務：若有臨時夜間住宿需求，每個月最多有 15 天可以使用夜間住宿服務。</li>
                    <li class="2dot0list">家庭托顧：提供長照服務對象於家庭托顧人員住所（托顧家庭）接受照顧服務，如同保姆在自己家照顧小朋友。</li>
                    <li class="2dot0list">專業服務：指導長照的個案以及照顧者學習自主獨立，或教學專業照顧技巧。</li>
                </ul>
            </li>
            <li>
                <p class="lh-base _pay">交通接送服務：</p>
                <p class="pay_detail">提供給付對象從居家到社區式服務類長照機構／醫療院所往返的交通接送。</p>
            </li>
            <li class="2dot0list">
                <p class="lh-base _pay">輔具租借、購買及居家無障礙環境改善：</p>
                <p class="pay_detail">民眾可以前往特約輔具服務單位購置或租賃輔具，且只需支付部分費用，即可取得服務。</p>
            </li>
            <li class="2dot0list">
                <p class="lh-base _pay">喘息服務：</p>
                <p class="pay_detail"> 喘息服務是透過分擔平日照護上的辛勞，讓主要照顧者能獲得短暫休息，藉此紓解照顧者的壓力，民眾可依需求選擇以下適合的喘息服務模式，或混合配搭使用。</p>
                <ul class="2dot0list">
                    <li class="2dot0list">居家喘息：受過訓練的照顧服務員到個案家中提供個案身體照顧服務。</li>
                    <li class="2dot0list">機構喘息：個案至住宿式長照機構接受短暫照顧、停留，由機構工作人員提供 24 小時的照顧。</li>
                    <li class="2dot0list">社區喘息：白天至日間照顧中心／巷弄長照站，或於夜間至小規模多機能服務中心，，接受依地點提供的服務。</li>
                </ul>
            </li>

        </ul>

        <h4 class="fw-bold lh-lg">2.家庭照顧者支持服務</h4>
        <ul class="2dot0list">
            <li class="2dot0list">為照顧者提供相關資訊及轉介、長照知識、技能訓練、喘息服務。</li>
            <li class="2dot0list">為照顧者提供情緒支持及團體服務轉介。</li>
            <li class="2dot0list">訓練照顧實務指導員，培養能夠辨識被照顧者的需求，以及照顧者的身心負荷及困境。 3.失智照護</li>
            <li class="2dot0list">各縣市政府結合醫療院所，成立失智共同照護中心。</li>
            <li class="2dot0list">設置失智社區服務據點，提供疑似失智、極輕度至輕度失智者長照預防服務，針對失智者的照顧者，提供照顧者支持團體及照顧者照顧訓練課程。</li>
            <li class="2dot0list">還未符合長照需要等級者，照管中心會協助轉介至失智症共同照護中心，提供個案服務。</li>
        </ul>
        <h4 class="fw-bold lh-lg">3.住宿式機構服務</h4>
        <ul class="2dot0list">
            <li class="_pay 2dot0list">住宿式服務使用者補助方案：</li>
            <p class="pay_detail">如果被照顧者未申請長照服務，入住住宿式服務機構累計達 90 天以上，且年度綜合所得稅稅率級距為 12%（含）以下，即可申請補助。</p>
            <li class="_pay 2dot0list">長期照顧特別扣除額：</li>
            <p class="pay_detail">納稅義務人、配偶或受扶養親屬如果符合公告資格，在申報綜合所得稅時，每人每年可扣除長期照顧特別扣除額。</p>
            <li class="_pay 2dot0list">住宿機構品質提升：</li>
            <p class="pay_detail">針對各類住宿式服務機構訂定品質指標及獎勵制度，確保住宿式機構的品質。</p>
        </ul>
        <h4 class="fw-bold lh-lg">4.醫療銜接長照</h4>
        <ul class="2dot0list">
            <li class="_pay 2dot0list">減少照護機構住民至醫療機構就醫：</li>
            <p class="pay_detail">輔導各類照護機構，由單一的特約醫療機構專門負責居住者的健康管理以及必要診療及轉診，減少居住者外出就醫感染的風險。</p>
            <li class="_pay 2dot0list">居家失能個案家庭醫師：</li>
            <p class="pay_detail">醫師開立長期照護醫師意見書，並由醫師及護理師（個案管理師）進行失能個案健康及慢性病管理。</p>
            <li class="_pay 2dot0list">出院準備銜接長照服務：</li>
            <p class="pay_detail">病人於出院前 3 天經評估過後，由個案管理員與個案、家屬或主要照顧者討論照顧計畫，協助個案於出院返家 7 天內取得所需的長照服務。</p>
        </ul>
        <h4 class="fw-bold lh-lg">5.社區整體照顧服務體系</h4>
        <ul class="2dot0list">
            <li class="2dot0list">
                <p class="lh-base pay_detail">提高長照服務提供單位的密度，政府也加強布建社區整合型服務中心、複合型服務中心、巷弄長照站，讓民眾可以就近獲得方便、多元的服務。</p>
            </li>
        </ul>
        <h4 class="fw-bold lh-lg">6.聘僱外籍看護家庭可使用長照服務</h4>
        <ul class="2dot0list">
            <li class="2dot0list">即使家中已經聘請外籍看護工，被照顧者只要經長照需求評估，符合失能等級 2～8 級，還是可以申請專業服務、交通接送、輔具服務、到宅沐浴車等多元長照服務。</li>
            <li class="2dot0list">如果外籍家庭看護工無法協助照顧，只要空窗期達 30 天以上，便可以申請提供喘息服務補助。</li>
            <li class="2dot0list">外籍看護工短時間休假時，為保障被照顧者的安全與照顧品質，只要被照顧者評估為失能等級 7～8 級者，即可申請喘息服務，且不受 30 天的限制。</li>
        </ul>
    </div>
</body>
