@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="/css/about_vision/about_vision.css">
<!-- 第一區塊 -->
<div class="container mt-5">
    <div class="first_aera">
        <h1 class="first_aera_title">馨安長照 交給我們 讓您心安</h1>
        <p class="first_aera_content">
            在馨安長照，我們不僅提供專業的居家照護服務，更是您信賴的伙伴，讓您安心無憂<br>
            馨安以關愛和尊重為核心價值，致力於為每一位長者創造一個溫暖、舒適的家園<br>
            不論是孤獨的長者還是為照顧家人而操心的家庭，馨安都在這裡，與您攜手同行，為您提供專業、細心的照護服務<br>
            交給馨安，讓您的心靈感受到無比的安寧與安心
        </p>
    </div>
</div>
<!-- 第二區塊 -->
<div class="container mt-5">
    <div class="row second_aera">
        <div class="col-lg-6 ">
            <h3 class="second_aera_title">緣起</h3>
            <p class="second_aera_content">
                在這個逐漸高齡化的社會中，我們深切體會到對於長者關懷和照護的急迫需求。每一位長者都是曾經的夢想者，他們為社會貢獻了一生。現在，正是我們回報他們的時候。<br>
                然而，現有的長期照護服務仍存在許多不足和問題。許多老人面臨孤獨、無助和缺乏關愛的困境，而家人也常常為如何照顧他們而感到困擾。<br>
                因此，我們決定成立一個專注於提供居家照護服務的平台，以滿足社會對於關愛長者的需求，為他們提供一個溫暖、關懷的家園。
                <br><br>
                <strong>於是馨安長照誕生了!</strong>
                <br><br>
                馨安的宗旨是凝聚各領域的專業人才，提升長照服務的品質，幫助減輕家屬的負擔。透過人員管理、教育訓練、制度建立和專業照顧，致力實現馨安的照護使命。
                不僅提供全面易懂的資訊，讓家庭更容易找到適合他們需要的長照服務。同時透明地呈現各種服務特點和品質，讓長者和家庭能夠做出明智的選擇。<br>
                馨安希望喚起社會對長者權益的關注，並促進社會關懷和支持，讓每一位老人都感受到溫暖和關愛。
                最重要的是，馨安致力於推動長照服務的創新和發展，與時俱進，不斷改進服務水準，為台灣的長者帶來積極的改變。<br>
                馨安期許每一位長者都能享有尊嚴、安全和舒適的晚年生活。
            </p>
        </div>
        <div class="col-lg-6 ">
            <img class="img-fluid img-thumbnail img_blood" src="/css/about_vision/img/Vision_1.jpg" alt="">
        </div>
    </div>
</div>
