<link rel="stylesheet" href="/css/about_introduction/about_introduction.css">

<div class="container mt-5">
    <div>
        <img class="img-fluid img-thumbnail img_blood" src="/css/about_introduction/img/introduction_1.jpg" alt="">
    </div>
    <div class="first_aera">
        <h3>服務說明</h3>
        <p>經中心照管專員評估核定後，由取得照顧服務員資格人員定期至家中提供日常生活及身體照顧等服務，以減緩照顧者照顧壓力。（每月給付額度以照管專員評估後，依失能程度有不同給付額度）</p>
        <a href="">了解更多</a>
        @* 轉跳到如何申請 *@
    </div>
    <hr>
    <div class="second_aera">
        <h3>服務對象</h3>
        <p>
            符合長期照顧十年計畫 2.0 之個案（65 歲以上失能老人、失能身心障礙者、55 歲以上失能原住民、50 歲以上失智症患者），並經長期照顧管理中心派員實際「照顧管理評估量表」評估後，CMS 達到第 2級以上者
        </p>
        <a href="">了解更多</a>
        @* 轉跳到補助條件 *@
    </div>
    <hr>
    <div class="thrid_aera">
        <h3>服務內容</h3>
        <p>
            1.身體照顧服務：協助如廁、沐浴、穿換衣物、口腔清潔、進食、服藥、翻身、拍背、簡易被動式肢體關節活動、上下床、陪同運動、協助使用日常生活輔具及其他服務等。<br>
            2.家事服務：換洗衣物之洗滌及修補、服務對象生活起居空間之環境清潔、文書服務、餐飲服務、陪同就醫或聯絡醫療機構及其他相關服務。
        </p>
        <a href="">了解更多</a>
        @* 轉跳到服務項目 *@
    </div>
    <hr>
    <div class="fourth_aera">
        <h3>服務區域</h3>
        <p>
            台中各區:中區、東區、西區、南區、北區、西屯區、南屯區、北屯區、豐原區、大里區、太平區、清水區、沙鹿區、大甲區、東勢區、梧棲區、烏日區、神岡區、大肚區、大雅區、后里區、霧峰區、潭子區、龍井區、外埔區、和平區、石岡區、大安區、新社區
        </p>
        <a href="">其他聯繫資訊</a>
        @* 轉跳到聯繫我們 *@
        <br />
        <br />
    </div>
</div>