@model Long_Term_Care.Models.ForgetPasswordViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<div class="container d-flex justify-content-center p-5">
    <div class="card w-50">
        <div class="card-header text-center" style="background-color: rgb(230, 208, 183);">
            忘記密碼
        </div>
        <div class="card-body">
            <form asp-action="ForgetPassword" method="post" class="needs-validation" novalidate>
                <div class="row mb-3">
                    <label for="inputAccount2" class="col-sm-2 col-form-label text-end">帳號:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAccount2" asp-for="Account" required>
                        <div class="invalid-feedback">請輸入帳號</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail2" class="col-sm-2 col-form-label text-end">信箱:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail2" asp-for="Email" required>
                        <div class="invalid-feedback">請輸入電子信箱</div>
                        <div class="col" style="color:red">@ViewBag.Message</div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-warning w-25">提交</button>
                    <a asp-area="" asp-controller="Members" asp-action="LogIn" class="btn btn-warning w-25" role="button">取消</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">會員密碼重置成功</h5>
                    <button type="button" class="btn-close _close" data-bs-dismiss="modal" aria-label="Close" onclick="redirectToLogin()"></button>
                </div>
                <div class="modal-body">
                    <p>密碼已成功重置並發送到您的信箱</p>
                    <br />
                    <p>請重新登入後盡速修改密碼！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary _close" data-bs-dismiss="modal" onclick="redirectToLogin()">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.PasswordResetSuccess != null && ViewBag.PasswordResetSuccess)
{
    <script>
        $(document).ready(function () {
            $('#staticBackdrop').modal('show');
        });

        function redirectToLogin() {
            window.location.href = '@Url.Action("LogIn", "Members")';
        };
    </script>
}

@* <script>
    $(document).ready(function () {
        $('._close').click(function () {
            $.ajax({
                url: '@Url.Action("CloseModal", "Members")',
                type: 'POST',
                success: function (result) {
                    window.location.href = '@Url.Action("LogIn", "Members")';
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script> *@