
<link rel="stylesheet" href="~/css/Product/Product.css"></link>

<div class="products">

    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3> Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>

    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3> Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>

    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3> Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>

    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3>Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>


    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3>Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>


    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3> Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>


    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3></h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>


    <div class="container">
        <div class="wrapper">
            <div class="banner-image"> </div>
            <h3> Product</h3>
            <p>
                Lorem ipsum dolor sit amet, <br />
                consectetur adipiscing elit.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn fill">BUY NOW</button>
        </div>
    </div>
</div>
