/* 假設將手機設為最小寬度，並適用相應的樣式 */
/* 桌面版 */
@media (min-width: 1024px) {

    /* 在這裡放置桌面版的 CSS 樣式 */
    #add_record {
        margin-top: 1%;
    }

    #record_form {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 20px;
        /* height: 80%; */
        background-color: white;
    }

    #_hidden {
        display: none;
    }

    ._label {
        font-size: 28px;
        margin-right: 10px;
        font-weight: bold;
        color: rgba(21, 12, 201, 0.6);
    }

    #first_row {
        display: flex;
        justify-content: space-between;
    }

    #two_row {
        display: flex;
        justify-content: space-between;
    }

    #three_row {
        display: flex;
    }

    #four_row {
        display: flex;
    }

    .form-group {
        margin-bottom: 20px;
    }

    #_name {
        width: 190px;
    }

    #_date,
    #_time {
        width: 210px;
    }

    #_temperature,
    #heart_beat,
    #_breathe,
    #bef_meal,
    #aft_meal,
    #_systolic,
    #_diastolic {
        width: 170px;
    }

    #_breakfast, #_lunch, #_dinner {
        width: 250px;
    }

    .form-control {
        display: inline;
    }

    ._pressure, ._sugar, ._diet {
        font-size: 22px;
        color: rgb(6, 160, 157);
    }

    #_mgdl {
        margin-right: 20px;
    }

    #_mmhg {
        margin-right: 15px;
    }

    #_others::placeholder {
        color: rgba(0, 0, 0, 0.5); /* 使用rgba來設置透明度 */
    }
    #view_care{
     
        font-size: 26px;
        background-color:white;
        color:darkblue;
        cursor: pointer;
        border: 1px solid #000000;
        font-weight: bold;
    }
    #back_page {
        font-size: 20px;
        border-bottom: 1px #000 solid;
        
    }
}

/* 平板 */
@media (min-width: 768px) and (max-width: 1023px) {

    /* 在這裡放置平板的 CSS 樣式 */
    #add_record {
        margin-top: 1%;
    }

    #record_form {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 20px;
        /* height: 80%; */
        background-color: white;
    }

    #_hidden {
        display: none;
    }

    ._label {
        font-size: 28px;
        margin-right: 10px;
        font-weight: bold;
        color: rgba(21, 12, 201, 0.6);
    }

    .form-group {
        margin-bottom: 20px;
    }

    #_name {
        width: 40%;
    }

    #_date,
    #_time {
        width: 40%;
        /* display: inline-flex; */
    }

    #_temperature,
    #heart_beat,
    #_breathe {
        width: 40%;
    }

    #bef_meal,
    #aft_meal,
    #_systolic,
    #_diastolic {
        width: 45%;
    }

    .form-control {
        display: inline;
    }

    ._pressure, ._sugar, ._diet {
        font-size: 22px;
        color: rgb(6, 160, 157);
    }

    ._sugar, ._pressure {
        display: block;
    }

    #_others::placeholder {
        color: rgba(0, 0, 0, 0.5); /* 使用rgba來設置透明度 */
    }
    #view_care {
        font-size: 26px;
        background-color: white;
        color: darkblue;
        cursor: pointer;
        border: 1px solid #000000;
        font-weight: bold;
    }

    #back_page {
        font-size: 20px;
        border-bottom: 1px #000 solid;
    }
}

/* 手機 */
@media (max-width: 767px) and (min-width: 0px) {

    /* 在這裡放置手機的 CSS 樣式 */
    #add_record {
        margin-top: 1%;
    }

    #record_form {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 20px;
        /* height: 80%; */
        background-color: white;
    }

    #_hidden {
        display: none;
    }

    ._label {
        font-size: 28px;
        font-weight: bold;
        color: rgba(21, 12, 201, 0.6);
    }

    #_name,
    #_date,
    #_time,
    #_temperature,
    #heart_beat,
    #_breathe {
        display: inline;
        width: 50%;
    }

    ._pressure, ._sugar, ._diet {
        font-size: 22px;
        color: rgb(6, 160, 157);
    }

    ._sugar, ._pressure {
        display: block;
    }

    .form-group {
        margin-bottom: 20px;
    }

    #_others::placeholder {
        color: rgba(0, 0, 0, 0.5); /* 使用rgba來設置透明度 */
    }

    #view_care {
        font-size: 26px;
        background-color: white;
        color: darkblue;
        cursor: pointer;
        border: 1px solid #000000;
        font-weight: bold;
    }

    #back_page {
        font-size: 20px;
        border-bottom: 1px #000 solid;
    }
}
