

@media (min-width: 1024px) {

    #record_view {
        margin-top: 1%;
    }

    #view_table {
        font-size: 22px;
    }
    #care_det{
        font-size: 22px;
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #record_view {
        margin-top: 1%;
    }

    #view_table {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    #record_view {
        margin-top: 1%;
    }

    #view_table {
        font-size: 22px;
    }
}
